"""Unit tests for <<project.name>> business logic."""

from <<project.package>>.api.schemas import <<domain.input_model>>


def _input(**kwargs: object) -> <<domain.input_model>>:
    # TODO: fill in sensible defaults for <<domain.input_model>> (see schemas.py)
    return <<domain.input_model>>(**kwargs)  # type: ignore[arg-type]


def test_<<domain.business_logic_fn>>_low_risk() -> None:
    pass


def test_<<domain.business_logic_fn>>_high_risk() -> None:
    pass


def test_output_has_all_fields() -> None:
    pass


def test_output_values_are_valid() -> None:
    pass


def test_invalid_input_raises() -> None:
    pass


def test_model_version_in_output() -> None:
    pass
