"""Unit tests for <<resource.name>> CRUD operations."""

from sqlalchemy.orm import Session


def test_create_<<resource.name_lower>>(client: object) -> None:
    pass


def test_list_<<resource.name_plural>>_empty(client: object) -> None:
    pass


def test_list_<<resource.name_plural>>_with_items(client: object) -> None:
    pass


def test_get_<<resource.name_lower>>_by_id(client: object) -> None:
    pass


def test_get_nonexistent_<<resource.name_lower>>_returns_none(client: object) -> None:
    pass


def test_update_<<resource.name_lower>>(client: object) -> None:
    pass


def test_delete_<<resource.name_lower>>(client: object) -> None:
    pass


def test_partial_update_only_changes_given_fields(client: object) -> None:
    pass
