"""Integration tests for /api/v1/<<domain.endpoint_path>>."""

from fastapi.testclient import TestClient


def _valid_payload() -> dict[str, object]:
    # TODO: fill in a valid payload matching <<domain.input_model>> (see schemas.py)
    return {}


def test_health_returns_200(client: TestClient) -> None:
    pass


def test_<<domain.handler_name>>_returns_501_stub(client: TestClient) -> None:
    pass


def test_<<domain.handler_name>>_invalid_payload_returns_422(client: TestClient) -> None:
    pass


def test_<<domain.handler_name>>_missing_required_field_returns_422(client: TestClient) -> None:
    pass


def test_<<domain.handler_name>>_valid_request_accepted(client: TestClient) -> None:
    pass


def test_response_matches_output_schema(client: TestClient) -> None:
    pass
