from <<project.package>>.api.schemas import <<domain.input_model>>, <<domain.output_model>>


def <<domain.business_logic_fn>>(input: <<domain.input_model>>) -> <<domain.output_model>>:
    """<<project.description>>.

    Args:
        input: Validated <<domain.input_model>> data.

    Returns:
        <<domain.output_model>> with computed results.

    Raises:
        NotImplementedError: Until business logic is implemented.
    """
    # TODO: implement
    raise NotImplementedError("<<domain.business_logic_fn>>() not yet implemented")
